[submodule "ext_lib/OpenDolphin-ORCA-OQS"]
	path = ext_lib/OpenDolphin-ORCA-OQS
	url = https://github.com/MasudaNaika/OpenDolphin-ORCA-OQS.git
[submodule "docker/orca/jma-receipt-docker"]
	path = docker/orca/jma-receipt-docker
	url = https://github.com/circlemouth/jma-receipt-docker-for-Ubuntu-22.04.git
