<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="6.0"
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                        https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">

  <filter>
    <filter-name>LogFilter</filter-name>
    <filter-class>open.dolphin.rest.LogFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter>
    <filter-name>StubEndpointExposureFilter</filter-name>
    <filter-class>open.dolphin.rest.StubEndpointExposureFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/resources/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>LogFilter</filter-name>
    <url-pattern>/orca/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StubEndpointExposureFilter</filter-name>
    <url-pattern>/orca/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>StubEndpointExposureFilter</filter-name>
    <url-pattern>/resources/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  
    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>
                open.dolphin.rest.AppoResource,
                open.dolphin.rest.KarteResource,
                open.dolphin.rest.LetterResource,
                open.dolphin.rest.NLabResource,
                open.dolphin.rest.PVTResource,
                open.dolphin.rest.PatientResource,
                open.dolphin.rest.OrcaAcceptanceListResource,
                open.dolphin.rest.OrcaSystemManagementResource,
                open.dolphin.rest.OrcaReportResource,
                open.dolphin.rest.OrcaPatientApiResource,
                open.dolphin.rest.OrcaDiseaseApiResource,
                open.dolphin.rest.OrcaMedicalApiResource,
                open.dolphin.rest.PatientModV2OutpatientResource,
                open.dolphin.rest.AdminConfigResource,
                open.dolphin.rest.OrcaQueueResource,
                open.dolphin.rest.orca.OrcaMedicalResource,
                open.dolphin.rest.orca.OrcaDiseaseResource,
                open.dolphin.rest.orca.OrcaOrderBundleResource,
                open.dolphin.rest.orca.OrcaPatientResource,
                open.dolphin.rest.orca.OrcaSubjectiveResource,
                open.dolphin.rest.orca.OrcaMedicalAdministrationResource,
                open.dolphin.rest.DemoResourceAsp,
                open.dolphin.rest.StampResource,
                open.dolphin.rest.SystemResource,
                open.dolphin.rest.UserResource,
                open.dolphin.rest.ScheduleResource,
                open.dolphin.rest.MmlResource,
                open.dolphin.rest.ChartEventResource,
                open.dolphin.rest.PVTResource2,
                open.dolphin.rest.ServerInfoResource,
                open.dolphin.rest.ReportingResource,
                open.dolphin.rest.orca.OrcaMedicalModV2Resource,
                open.orca.rest.OrcaResource,
                open.orca.rest.OrcaMasterResource,
                open.dolphin.orca.rest.OrcaAppointmentResource,
                open.dolphin.orca.rest.OrcaVisitResource,
                open.dolphin.orca.rest.OrcaClaimOutpatientResource,
                open.dolphin.orca.rest.OrcaPatientLocalSearchResource,
                open.dolphin.orca.rest.OrcaPatientBatchResource,
                open.dolphin.touch.JsonTouchResource,
                open.dolphin.touch.DolphinResource,
                open.dolphin.touch.DolphinResourceASP,
                open.dolphin.touch.patient.TouchPatientResource,
                open.dolphin.touch.stamp.TouchStampResource,
                open.dolphin.touch.user.TouchUserResource,
                open.dolphin.touch.EHTResource,
                open.dolphin.adm10.rest.JsonTouchResource,
                open.dolphin.adm20.rest.JsonTouchResource,
                open.dolphin.adm20.rest.EHTResource,
                open.dolphin.adm20.rest.AdmissionResource,
                open.dolphin.adm20.rest.PHRResource
        </param-value>
    </context-param>

    <!-- RESTEasy JSON mapper is explicitly registered to support ORCA DTO LocalDate binding. -->
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>
                open.dolphin.metrics.RequestMetricsFilter,
                open.dolphin.rest.jackson.ResteasyObjectMapperResolver
        </param-value>
    </context-param>

    <context-param>
        <param-name>touch.demo.fixedFacilityId</param-name>
        <param-value>1.3.6.1.4.1.9414.2.100</param-value>
    </context-param>

    <context-param>
        <param-name>touch.phr.requiredHeaders</param-name>
        <param-value>X-Facility-Id,X-Touch-TraceId</param-value>
    </context-param>

    <listener>
        <listener-class>
            org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
        </listener-class>
    </listener>
    
    <servlet>
        <servlet-name>resteasy-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/resources</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>resteasy-orca-servlet</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>resteasy.servlet.mapping.prefix</param-name>
            <param-value>/</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>resteasy-servlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>resteasy-orca-servlet</servlet-name>
        <url-pattern>/orca/*</url-pattern>
    </servlet-mapping>
  
  <!-- session-config>
    <session-timeout>30</session-timeout>
  </session-config -->
  
</web-app>
