#macro(renderPatientOverview $context)
#set($patient = $context.patient)
#set($isEnglish = $context.locale.language.equalsIgnoreCase('en'))
#if($isEnglish)
Patient: $patient.fullName
DOB: $patient.birthDate.format('MMM dd, yyyy')
Attending Physician: $context.attendingDoctor
Encounter Date: $context.encounterDate.format('MMM dd, yyyy')
#else
患者氏名: $patient.fullName
生年月日: $patient.birthDate.format('yyyy年MM月dd日')
主治医: $context.attendingDoctor
診療日: $context.encounterDate.format('yyyy年MM月dd日')
#end
#end

#macro(renderSummaryList $context)
#set($isEnglish = $context.locale.language.equalsIgnoreCase('en'))
#foreach($item in $context.summaryItems)
#if($isEnglish)
* $item.labelEn: $item.value
#else
* $item.label: $item.value
#end
#end
#end

#macro(renderSummaryTable $context)
#set($isEnglish = $context.locale.language.equalsIgnoreCase('en'))
<table class="summary-table">
  <thead>
    <tr>
#if($isEnglish)
      <th align="left">Field</th>
      <th align="left">Value</th>
#else
      <th align="left">項目</th>
      <th align="left">内容</th>
#end
    </tr>
  </thead>
  <tbody>
#foreach($item in $context.summaryItems)
    <tr>
#if($isEnglish)
      <td>$item.labelEn</td>
#else
      <td>$item.label</td>
#end
      <td>$item.value</td>
    </tr>
#end
  </tbody>
</table>
#end
